@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>


<body>

    <header>
        <div class="container">
            <div class="logo">Photoalbum</div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                @RenderSection("SearchForm", required: false)
            </nav>
        </div>
    </header>
    @RenderSection("profile", required: false)
    @RenderSection("body", required: false)

    @*<div class="container container-body">
            <div class="images" id="images">
                @RenderSection("body", required: false)
            </div>
            <div id="loadMore" class="loadMore">
                @RenderSection("loadMore", required: false)
            </div>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/search")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @RenderSection("scripts", required: false)

</body>
</html>

@*<script type="text/javascript">
        $(function () {
            var autocompleteUrl = '@Url.Action("Find", "Photos")';
            $("#tag").autocomplete({
                source: autocompleteUrl,
                minLength: 1,
                select: function (event, ui) {
                    onSelected(ui.item.label);
                }
            });
        });

        function onSelected(data) {
            $('#images').empty();
            var url = "@Url.Action("Search", "Photos")";
            var dataSend = {
                tag: data
            };
            $.post(
                url,
                dataSend,
                function (response) {
                    DisplayImages(response);
                });
        }

        function _arrayBufferToBase64(buffer) {
            var binary = '';
            var bytes = new Uint8Array(buffer);
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return window.btoa(binary);
        }

        function DisplayImages(data) {
            if (data.length == 0) {
                $('#images').prepend("<div class=\"emptySearch\">Sorry, there are no results for your search</div>");
            } else {
                $.each(data,
                    function (index, value) {
                        var imdiv = $('<div/>',
                            {
                                id: 'image',
                                class: 'col-lg-4 col-md-6 data-fancybox'
                            });
                        imdiv.append(
                        $('<img />').attr({
                            'src': "data:image/png;base64," + _arrayBufferToBase64(value.Image),
                            'height': '350px',
                            'width': 'auto'
                        })
                        ).appendTo('.images');
                    });
                $.each(data,
                    function (index, value) {
                        var imdiv = $('<div/>',
                            {
                                id: 'image',
                                class: 'col-lg-4 col-md-6'
                            });
                        imdiv.append(
                            $('<img />').attr({
                                'src': "data:image/png;base64," + _arrayBufferToBase64(value.Image),
                                'height': '350px',
                                'width': 'auto'
                            })
                        ).appendTo('.images');
                    });
                $.each(data,
                    function (index, value) {
                        var imdiv = $('<div/>',
                            {
                                id: 'image',
                                class: 'col-lg-4 col-md-6'
                            });
                        imdiv.append(
                            $('<img />').attr({
                                'src': "data:image/png;base64," + _arrayBufferToBase64(value.Image),
                                'height': '350px',
                                'width': 'auto'
                            })
                        ).appendTo('.images');
                    });

            }
        }




    </script>*@


