@using System.Web.Mvc.Ajax
@*<form class="form-inline">
        <input class="form-control mr-sm-2" type="text" id="tag" placeholder="Search: #ballet" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>*@

@using (Html.BeginForm("Search", "Photos", FormMethod.Post, new { @class = "form-inline", id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBox("tag", "", new { @class = "form-control mr-sm-2", id = "tag", placeholder = "Search: #ballet" });
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
}

@if (Request.IsAuthenticated)
{
    @Html.Partial("_Profile_SignOut")
}
else
{
    <div class="navbar-nav ml-auto mt-2 mt-lg-0">

        @*<button class="btn ml-auto my-2 my-sm-0 signInButton" type="submit">Sign In</button>*@

        <a data-fancybox data-type="ajax" data-src="@Url.Action("SignIn", "Account")"
           href="@Url.Action("SignIn", "Account")" class="btn ml-auto my-2 my-sm-0 signInButton"
           type="submit">Sign In</a>

        <a data-fancybox data-type="ajax" data-src="@Url.Action("SignUp", "Account")"
           href="@Url.Action("SignUp", "Account")" class="btn ml-auto my-2 my-sm-0 signUpButton"
           type="submit">Sign Up</a>

        @*<button class="btn ml-auto my-2 my-sm-0 signUpButton" type="submit">Sign Up</button>*@
    </div>
}

