@using System.Web.Optimization
@using MvcPL.Models
@model ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photos = (PaginationViewModel<PhotoViewModel>) ViewBag.Photos;
    bool emptySearch = photos.PageInfo.TotalItems == 0 || (!photos.Items.Any());
}



@section SearchForm
{
    @Html.Partial("_SearchFormAuthRedirectToHome")
}

@section profile
{
    <div class="container container-profile">
        <div class="profilePhoto col-lg-4 col-md-4">
            @if (Model.ProfilePhoto == null)
            {
                <img src="~/Content/default_photo.jpg" height="200px" width="auto" style="border-radius:10px">
            }
            else
            {
                <img src="@Url.Action("ShowImage","Profile")" height="200px" width="auto" style="border-radius:10px">
            }
        </div>
        <div class="personalInfo col-lg-4 col-md-4">
            <div class="loginProfile">
                @Model.Login
            </div>
            @if (!string.IsNullOrEmpty(Model.Name))
            {
                <h5>@Model.Name</h5>
            }
        </div>
        
        <div class="profileButtons col-lg-4 col-md-4">
            <div class="col-lg-12 col-md-12 editProfile">
                <a href="@Url.Action("EditeProfile", "Profile")" class="btn ml-auto my-2 my-sm-0 signUpButton "
                   type="submit">Edit Profile</a>
            </div>
            <div class="col-lg-12 col-md-12 uploadPhoto">
                <a href="@Url.Action("UploadPhoto", "Profile")" class="btn ml-auto my-2 my-sm-0 signUpButton "
                   type="submit">Upload Photo</a>
            </div>
        </div>
        
    </div>
    
    <div class="container container-profile-down">
        <div class="userPhotos" id="userPhotos" style="overflow: hidden">
            @if (emptySearch)
            {
                <div class="emptySearch">Upload your first photo</div>
            }
            else
            {
                @Html.Partial("_FoundImages", (PaginationViewModel<PhotoViewModel>)ViewBag.Photos)
            }
        </div>
        <div id="loadMore" class="loadMore">
            @if (!emptySearch)
            {
                @Html.Partial("_ProfilePhotos", (PaginationViewModel<PhotoViewModel>)ViewBag.Photos)
            }
        </div>
    </div>
    
    @*<div class="container container-body">
        <div class="images" id="images">
            @if (emptySearch)
            {
                <div class="emptySearch">Upload your first photos</div>
            }
            else
            {
                @Html.Partial("_FoundImages", photos)
            }
        </div>
        <div id="loadMore" class="loadMore">
            @if (!emptySearch)
            {
                @Html.Partial("_LoadMore", photos)
            }
        </div>
    </div>*@
}

@section scripts
{
    @Scripts.Render("~/bundles/profile")
}

@*@section body{
        <div class="container container-body">
            <div class="images" id="images">
                @if (emptySearch)
                {
                    <div class="emptySearch">Sorry, there are no results for your search</div>
                }
                else
                {
                    @Html.Partial("_FoundImages", Model)
                }
            </div>
            <div id="loadMore" class="loadMore">
                @if (!emptySearch)
                {
                    @Html.Partial("_LoadMore", Model)
                }
            </div>
        </div>
    }*@

